<nav class="navbar navbar-dark navbar-expand-lg bg-dark" style="background-color:#121212 !important; border-bottom:solid #5A5A5A 1px !important">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin"><img style="height: 50px;" src="/images/TechShackLogo.png" alt="">  </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">


                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">

                         All options
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="/admin">Dashboard </a></li>
                        <li><a class="dropdown-item" href="/admin/products-list">Products </a></li>
                        <li><a class="dropdown-item" href="/admin/users">Users </a></li>
                        <li><a class="dropdown-item" href="/admin/orders-list"> All orders</a></li>
                        <li><a class="dropdown-item" href="/admin/banners"> Banner Management</a></li>
                        <li><a class="dropdown-item" href="/admin/category-management"> Category Management</a></li>
                        <li><a class="dropdown-item" href="/admin/coupons"> Coupons</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>


            <form class="d-flex" role="search">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
            </form>

            <ul class="navbar-nav  my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">wishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">cartttt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">usericon</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><h6>ADMIN PANEL</h6></a>
                </li>
                
              
            </ul>

        </div>


        


    </div>
</nav>