<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>  
         <!-- login page -->

        <link rel="stylesheet" href="/styles/login_style.css">

        


        <a class="mx-5" href="#"><img style="height: 50px;margin-top: 10px !important;" src="/images/TechShackLogo.png" alt="">  </a>



      <!-- corosall -->

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">


            <div class="carousel-item active" data-bs-interval="3000">
              <img src="/images/testBanners/hotdeal.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="/images/testBanners/mxw.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item"  data-bs-interval="3000">
              <img src="/images/testBanners/flashsale.jpg" class="d-block w-100" alt="...">
            </div>



          </div>




          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>




 <!-- CORAUSAL END -->



        




       

            








    </body>

</html>